*{
    font-family: 'Comfortaa', cursive;
}

.custom__img {
    background-image: url("./assets/images/gracie.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
